@charset "utf-8";
/* CSS Document */
.navbar .container-fluid .navbar-collapse {
    padding-right: 50px;
    padding-left: 250px;
}

body .navbar {
    border-radius: 0px;
	margin-bottom: 0px;
}

.navbar .container-fluid .navbar-header .navbar-brand {
    padding: 15px 50px;
}
